<html>
    <head>
        <title>Welcome! Check here Benson's Law!</title>
        <style>
.text {
font-weight: 600;
height: 40px;
background-color: white;
}          
html, body {
height: 500px;
font-family: "arial", "sans-serif";
color: #303;
}
        </style>
    </head> 
<body>
<div class="text">
    <h1>Some data look artificial or suspicious?</h1>
    <p> You have a list of data that do not seem to follow the Benford distribution? 
        Then, verify here how likely these data follow the Benford distribution!</p>
    <p>
        Select and upload your data below. 
        Requirements: 
        <ul>
            <li>File must be tab-delimited in *.txt or *.csv format, and uncompressed ;</li>
            <li>File must be multi-columns with a header, and the last column is 
                to contain the integer values to test the Benford's Law against.</li>
        </ul>
    </p>

    <form action="/benford/results/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="user_file" accept="{{ accepted_formats }}" required>
        <br/>
        <input type="submit">
    </form>
</div>

</body>
</html>