{% extends "base.html" %}
{% block title %}
    Welcome! Analyze your data here!
{% endblock title %}
{% block body %}
<div class="text">
    <h1>Some data look artificial or suspicious?</h1>
    <p> You have a list of data that do not seem to follow a naturally distributed pattern? 
        Then, verify here how likely these data follow the Benford distribution!</p>
    <p>
        Select and upload your data below. 
        File Requirements: 
        <ul>
            <li>File must be tab-delimited in *.txt or *.csv format, and uncompressed ;</li>
            <li>File must have one or several columns, with a header, and the data you want 
                to analyze are in the last column ; </li>
            <li>Values in the last column (except for the header) must all be integers.</li>
        </ul>
    </p>

    <form action="/benford/results/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="user_file" accept="{{ accepted_formats }}" required>
        <br/>
        <input type="submit">
    </form>
</div>
{% endblock body %}
